<div class="container__big-card">
  <div class="big-card__photo">
    <img src="{{ photoCover }}" alt="" height="200px" srcset="" />
  </div>

  <div class="big-card__title">
    <div class="big-card__tags" *ngIf="tags.length > 0">
      <span *ngFor="let tag of tags" class="tag-label">{{ tag }}</span>
    </div>
    <h1>
      <a [routerLink]="['content', id]">{{ cardTitle }}</a>
    </h1>
  </div>

  <div class="big-card__description">
    <p>
      <a [routerLink]="['content', id]">
        {{ cardDescription }}
      </a>
    </p>
  </div>
</div>
