<app-menu-title></app-menu-title>

<div class="container__search">
  <input
    type="text"
    placeholder="Pesquisar posts ou categorias (ex: Marvel)..."
    (input)="onSearch($event)"
  />
</div>

<div
  class="container__articles"
  *ngIf="filteredPosts.length > 0; else emptyState"
>
  <div class="articles__main">
    <app-big-card
      [id]="filteredPosts[0].id"
      [photoCover]="filteredPosts[0].photoCover"
      [cardTitle]="filteredPosts[0].title"
      [cardDescription]="filteredPosts[0].description"
      [tags]="filteredPosts[0].tags || []"
    >
    </app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
      *ngFor="let post of otherPosts"
      [id]="post.id"
      [cardTitle]="post.title"
      [photoCover]="post.photoCover"
      [tags]="post.tags || []"
    >
    </app-small-card>
  </div>
</div>

<ng-template #emptyState>
  <div class="container__empty">
    <p>Nenhum post encontrado para "{{ searchQuery }}" 🔍</p>
  </div>
</ng-template>
